body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.screen {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.currentword {
  font-size: 64px;
  font-weight: bold;
  text-transform: lowercase;
  padding-bottom: 25%;
}

.input {
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  user-select: none;
  -webkit-user-select: none;
  font-size: 16px;
}

.currentword > span {
  margin: 2px;
  color: black;
}

.currentword > span[data-status="celebrate"] {
  color: rgb(38, 145, 252);
}

.currentword > span[data-status="complete"] {
  color: rgb(61, 63, 65);
}

.currentword > span[data-status="current"] {
  color: red;
}
