@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

.App {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.game {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.currentword {
  font-size: 160px;
  font-weight: bold;
  transform-origin: center center;
  opacity: 0;
  color: black;
  font-family: 'Itim', -apple-system, sans-serif;
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.game[data-state='game_starting'] .currentword {
  opacity: 0;
}

.game[data-state='word_transitioning_out'] .currentword {
  opacity: 0;
}

.game[data-state='word_transitioning_in'] .currentword {
  opacity: 1;
}

.game[data-state='word_spelling'] .currentword {
  opacity: 1;
}

.game[data-state='word_complete'] .currentword {
  color: rgb(38, 145, 252);
  opacity: 1;
  animation-name: word_complete;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.game[data-state='word_transitioning_out'] .currentword {
  color: rgb(38, 145, 252);
  opacity: 0;
  animation-name: word_complete;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.input {
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  user-select: none;
  -webkit-user-select: none;
  font-size: 16px;
}

.currentword > span {
  margin: 2px;
  display: inline-block;
}

.currentword > span[data-status='complete'] {
  color: rgb(61, 63, 65);
}

.currentword > span[data-status='current'] {
  color: red;
  animation-name: letter_current;
  animation-duration: 1s;
  animation-delay: 0.25s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
}

.progressbar {
  color: pink;
}

@keyframes letter_current {
  from {
    transform: scale(1) translateY(0);
  }
  30% {
    transform: scale(1.05, 0.9) translateY(-0.4rem);
  }
  60% {
    transform: scale(0.95, 1) translateY(0.1rem);
  }
  to {
    transform: scale(1) translateY(0);
  }
}

@keyframes word_complete {
  from {
    transform: rotate(0);
  }
  33% {
    transform: rotate(10deg);
  }
  66% {
    transform: rotate(-10deg);
  }
  to {
    transform: rotate(0);
  }
}

/* -------------------- Settings -------------------- */

.settings-anchor {
  position: absolute;
  bottom: 8px;
  right: 8px;
  z-index: 10;
}

.settings-content {
  min-width: 144px;
  display: flex;
  gap: 8px;
  flex-direction: column;
  box-shadow: 1px 1px 8px -2px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 8px;
}

.settings-content h3 {
  margin: 0;
  color: rgb(0 0 0 / 85%);
  padding: 8px 4px;
}

.settings-content h4 {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  color: rgb(0 0 0 / 65%);
  padding: 0px 4px;
}

.section {
  display: flex;
  flex-direction: column;
  margin-block-start: 8px;
  margin-block-end: 8px;
  margin: 0px;
  padding: 4px;
  border: 1px solid rgb(222, 222, 222);
  border-radius: 6px;
}

.section hr {
  width: calc(100% + 8px);
  height: 0px;
  border-top: 0px;
  margin: 4px -4px;
  border-bottom: 1px solid rgb(222, 222, 222);
}

.settings-content button {
  position: relative;
  display: flex;
  background: none;
  border: none;
  padding: 8px;
  border-radius: 4px;
  width: 100%;
  height: 32px;
  gap: 8px;
}

.settings-content button:hover {
  background-color: rgba(0 0 0 / 10%);
  cursor: pointer;
}

.settings-content span:nth-of-type(1) {
  flex-grow: 2;
  text-align: left;
}

.settings-content .checkmark {
  align-self: flex-end;
  right: 8px;
  width: 16px;
  height: 16px;
  color: black;
  stroke-width: 0px;
}

.settings-button {
  border: none;
  display: grid;
  padding: 8px;
  border-radius: 4px;
  align-items: center;
  transition: all 0.1s ease-out;
  background-color: transparent;
}

.settings-button:hover {
  background-color: rgba(0 0 0 / 10%);
  cursor: pointer;
}

.settings-button svg {
  stroke: rgb(0 0 0 / 40%);
  inline-size: 20px;
  block-size: 20px;
  transition: all 0.1s ease-out;
}

.settings-button:hover svg {
  stroke: rgb(0 0 0 / 70%);
}
